<head>
    <meta charset="UTF-8">
    <title>Node的个人博客</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="description" content="Node的个人博客，分享Node.js技术，不忘初心，共同成长">
    <meta name="keywords" content="Node,Node.js,Node的博客，Node.js技术">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
</head>