<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <%- include("./public/head.ejs")%>
</head>
<body>
<%- include("./public/header.ejs")%>
<section class="main floatfix">
    <%- include("./public/aside.ejs")%>
    <section class="main-articles friends">
        <h2>Node的友情链接网站</h2>
        <ul class="floatfix">
            <li><a href="https://github.com">GitHub</a></li>
            <li><a href="https://cnodejs.org/">CNode</a></li>
            <li><a href="https://segmentfault.com/">SegmentFault</a></li>
            <li><a href="https://google.com">Google</a></li>
            <li><a href="https://www.npmjs.com">NPM</a></li>
            <li><a href="https://ruby-china.org/">Ruby China</a></li>
            <li><a href="http://www.w3school.com.cn">W3CSchool</a></li>
            <li><a href="https://developer.mozilla.org">MDN</a></li>
        </ul>
    </section>
</section>
<%- include("./public/footer.ejs")%>
</body>
</html>